@leafcutter-strict:registry=https://packages.leafcutteros.ai/
@leafcutter-os:registry=https://packages.leafcutteros.ai/
@schafe-vorm-fenster:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}
//packages.leafcutteros.ai/:_authToken=${LEAFCUTTER_REGISTRY_TOKEN}
