@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Catamaran, Arial, Helvetica, sans-serif;
  font-size: larger;
  @apply w-full max-w-full overflow-x-hidden;
}

.prose {
  @apply text-black;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-2xl font-medium;

    a {
      @apply text-inherit no-underline;
    }

    a:hover::after {
      content: "";
      display: inline-block;
      width: 0.8em;
      height: 0.8em;
      margin-left: 0.3em;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='black'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1' /%3E%3C/svg%3E");
      background-size: contain;
      background-repeat: no-repeat;
      vertical-align: middle;
    }
  }

  img {
    @apply rounded-md max-w-2xl w-full mx-auto border-2 border-gray-200;
  }

  a {
    @apply text-blue-500 underline;
  }

  ul {}

  li {
    @apply list-disc ml-8;
  }
}